/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
    margin: 0;
    padding: 0;
    background: #544C40 url(images/img01.jpg) repeat left top;
    font-family:Lucida Grande,Lucida Sans Unicode,arial,helvetica,clean,sans-serif;
    font-size:13px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    color: #FFFFFF;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1em;
}

ul {
}

a {
    text-decoration: none;
    color: #AF9371;
}

a:hover {
    border-bottom: none;
}

a img {
    border: none;
}

img.left {
    float: left;
    margin: 0 20px 0 0;
}

img.right {
    float: right;
    margin: 0 0 0 20px;
}

code {
    display: block;
    background-color: #2A231B;
    padding: 8px;
}

#header {
    width: 1000px;
    margin: 0 auto;
    height: 193px;
    background: url(images/img02.jpg) repeat-x left top;
}

/* Header */

#logo {
    width: 970px;
    height: 100px;
    margin: 0 auto;
    padding: 50px 0 0 0;
    text-transform: lowercase;
    font-weight: normal;
    font-size: 3em;
}

#logo a {
    border: none;
    text-decoration: none;
    color: #FFFFFF;
}

/* Menu */

#menu {
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
    height: 30px;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu a {
    display: block;
    float: left;
    margin: 0 3px 0 0;
    padding: 6px 15px 10px 20px;
    border-right: 1px #000000 solid;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
}

#menu a:hover {
    margin: 0 3px 0 0;
    color: #FFFFFF;
}

#menu .current_page_item a {
    margin: 0 3px 0 0;
    color: #FFFFFF;
}

/* Wrapper */

#wrapper {
}

/* Page */

#page {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    background: #110E0F;
}

#page-bg {
}

/* Latest Post */

#latest-post {
    padding: 20px;
    border: 1px solid #E7E7E7;
}

/* Content */

#content {
    float: left;
    width: 780px;
    font-size: 110%;
}

.post {
    padding-bottom: 15px;
    line-height: 200%;
}

.post h1 {
    font-weight: normal;
}

.title {
    margin: 0 0 4px;
    padding: 10px 0 0 20px;
    font-weight: normal;
}

.title a {
    border-bottom: none;
    color: #FFFFFF;
}

.title a:hover {
    border-bottom: 1px dotted #000000;
}

.byline {
    border-bottom: 2px solid #000000;
    margin: -10px 20px 20px 20px;
}

.tag {
    padding: 0 15px;
}

.entry, h5, .comment, #pagenav {
    padding: 0 20px;
}

.links {
    padding: 4px 20px;
    text-align: left;
    font-weight: bold;
    background: #000000;
}

.links a {
    border: none;
}

.links a:hover {
}

#add-comment {
    padding: 40px 0 0 20px;
}

#your-comment {
    padding: 8px;
    width: 600px;
    font: normal 100% Lucida Grande,Lucida Sans Unicode,Arial,helvetica,sans-serif;
}

/* Sidebars */

#sidebar1 {
    float: left;
}

#sidebar2 {
    float: right;
}

.sidebar {
    float: left;
    width: 220px;
    padding: 0;
    font-size: 12px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 0 0 20px 0;
}

.sidebar li ul {
}

.sidebar li li {
    margin: 0 20px 0 15px;
    padding: 8px 0px;
    border-bottom: 1px #423525 dashed;
}


.sidebar li h2 {
    margin: 0 0 0 0;
    padding: 10px 15px;
    background: #000000;
    font-size: 13px;
    color: #AF9371;
}

.sidebar a {
    color: #FFFFFF;
}

/* Search */

#searchform {
    margin: 0;
    padding: 0 0 0 0;
}

#searchform br {
    display: none;
}

#searchform h2 {
}

#s {
    margin: 10px 0px 0 15px;
    padding: 2px 2px;
    width: 110px;
    height: 18px;
    border: 1px solid #423525;
    background: #000000;
    font-size: 10px;
    color: #CCCCCC;
}

#x {
    margin: 0;
    padding: 2px 5px;
    height: 25px;
    background: #000000;
    border: 1px solid #423525;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #CCCCCC;
}

/* Footer */

#footer {
    width: 1000px;
    height: 55px;
    margin: 0 auto;
    background: #514334;
    border-top: 2px solid #423525;
}

#footer p {
    margin: 0;
    padding: 15px 0 0 0;
    text-align: center;
    font-size: smaller;
    color: #FFFFFF;
}

#footer a {
    color: #FFFFFF;
}