/*

    terrafirma1.0 by nodethirtythree design
    http://www.nodethirtythree.com

*/

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #F9F9F7 url('images/a1.gif') repeat-x;
    font-size: 90%;
    font-family: "trebuchet ms", helvetica, sans-serif;
    color: #6C6C59;
    line-height: 18px;
}

a {
    color: #FF7800;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

sup {
    font-size: 0.5em;
}


p {
    margin-bottom: 14px;
    text-align: justify;
}

img.picA {
    position: relative;
    top: -2px;
    background: url('images/a47.gif') no-repeat;
    width: 76px;
    height: 74px;
    padding: 8px;
}

img.picB {
    position: relative;
    top: -2px;
    background: url('images/a26.gif') no-repeat;
    width: 146px;
    height: 75px;
    padding: 7px;
}

img.floatleft {
    float: left;
    margin: 0px 14px 3px 0px;
}


ul.linklist {
    list-style: none;
}

ul.linklist li {
    padding-bottom: 5px;
    margin: 0px 0px 5px 0px;
}

ul.linklist li.first {
    border-top: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

#upbg {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #fff url('images/upbg.gif') no-repeat;
    width: 747px;
    height: 264px;
    z-index: 1;
}

#outer {
    position: relative;
    width: 747px;
    margin: 0 auto;
    background: #fff url('images/abg.gif') repeat-y;
}

#inner {
    position: relative;
    padding: 13px 30px 13px 30px;
    z-index: 2;
}

#header {
    position: absolute;
    background: #FF7800 url('images/a8.gif') repeat-x;
    width: 202px;
    height: 92px;
    color: #fff;
    padding-left: 20px;
}

#header span {
    font-weight: normal;
}

#header div.title {
    position: absolute;
    font-size: 23px;
    letter-spacing: -1px;
    top: 30px;
    height: 92px;
}

#header div.subtitle {
    position: absolute;
    font-size: 10px;
    font-weight: normal;
    color: #FCE2CA;
    top: 51px;
}

#header sup {
    color: #FCE2CA;
}

#splash {
    position: absolute;
    right: 30px;
    background: #EAEAE2 url('images/a10.jpg') no-repeat;
    width: 458px;
    height: 92px;
}

#menu {
    position: relative;
    background: #46461F url('images/a16.gif') repeat-x;
    height: 67px;
    padding: 0px 20px 0px 5px;
    margin: 98px 0px 20px 0px;
}

#menu ul {
    }

#menu ul li {
    display: inline;
    line-height: 52px;
    padding-left: 3px;
}

#menu ul li.first {
    border-left: 0px;
}

#menu ul li a {
    background-color: transparent;
    background-repeat: repeat-x;
    padding: 8px 12px 8px 12px;
    font-size: 95%;
    color: #fff;
    font-weight: bold;
}

#menu ul li a:hover {
    background: #fff url('images/a18.gif') repeat-x top;
    color: #4A4A24;
    text-decoration: none;
}

#date {
    position: absolute;
    top: 0px;
    line-height: 52px;
    color: #BDBDA2;
    right: 30px;
    font-weight: bold;
    font-size: 95%;
    letter-spacing: -1px;
}

#secondarycontent {
    position: relative;
    width: 180px;
    float: right;
    padding-bottom: 30px;
}

#secondarycontent h3 {
    position: relative;
    top: 4px;
    font-size: 110%;
    line-height: 25px;
    color: #656551;
    letter-spacing: -1px;
    background: url('images/a22.gif') bottom repeat-x;
    padding: 0px 0px 5px 10px;
    margin-bottom: 20px;
}

#secondarycontent .content {
    padding: 0px 10px 0px 10px;
    margin-bottom: 40px;
    font-size: 90%;
}

#primarycontent {
    position: relative;
    width: 480px;
    float: left;
    padding-bottom: 30px;
}

#primarycontent h1 {
    position: relative;
    top: 4px;
    font-size: 130%;
    line-height: 25px;
    color: #656551;
    letter-spacing: -1px;
    background: url('images/a22.gif') bottom repeat-x;
    padding: 0px 0px 10px 15px;
    margin-bottom: 20px;
}

#primarycontent h1 a {
    color: #656551;
    text-decoration: none;
}

#primarycontent h1 small {
    display: block;
    font-size: 85%;
    color: #AFAFA4;
}

#primarycontent .content {
    padding: 0px 15px 0px 15px;
    margin-bottom: 20px;
}

#primarycontent .post {
    margin-bottom: 60px;
}

#primarycontent .post .header {
    position: relative;
}

#primarycontent .post .date {
    position: absolute;
    right: 15px;
    top: 0px;
    line-height: 35px;
    color: #AFAFA4;
    font-weight: bold;
}

#primarycontent .post .content {
    margin-bottom: 0px;
}

#primarycontent .post .footer {
    position: relative;
    background: url('images/a33.gif') repeat-x;
    height: 64px;
    font-size: 85%;
}

#primarycontent .post .footer ul {
    padding-top: 15px;
    list-style: none;
}

#primarycontent .post .footer ul li {
    display: inline;
    line-height: 14px;
    padding: 0 0 1px 17px;
    margin-left: 25px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
}

#primarycontent .post .footer ul li.tags {
    background-image: url('images/a23.gif');
}

#primarycontent .post .footer ul li.comments {
    background-image: url('images/a36.gif');
}

#primarycontent .post .footer ul li.readmore {
    background-image: url('images/a38.gif');
}

#primarycontent div.comment {
    background: url('images/a22.gif') top repeat-x;
    padding: 20px 0 20px 0;
}

#primarycontent div.comment h4 {
    margin-bottom: 10px;
}

#primarycontent #add-comment {
    border-top: 1px solid #DCDCD0;
    padding-top: 15px;
    margin-top: 30px;
}

#primarycontent #add-comment h3 {
    margin-bottom: 15px;
}

#primarycontent #add-comment input.text-input, #spamhurdles_captcha_answer_input {
    border: 1px solid #666644;
    padding: 4px;
}

#spamhurdles_captcha_explain {
    font-size: 80%;
}

#primarycontent #add-comment #your-comment {
    width: 460px;
    height: 200px;
    border: 1px solid #666644;
}

#footer {
    font-size: 75%;
    position: relative;
    clear: both;
    height: 66px;
    text-align: center;
    line-height: 66px;
    background-image: url('images/a50.gif');
    color: #A8A88D;
}

#footer a {
    color: #8C8C73;
}
